$color-primary: rgb(236, 222, 182);
$color-secondary: #c57d56;
$color-terciary: #ddd6cb;
$color-complementary: #dbe2ed;

$font-size: 16px;
$font-title: 32px;
$font-family: 'Bree Serif', serif;

/*
$color-primary: rgb(236, 222, 182);
$color-secondary: black;
$color-terciary: 
$color-accent: rgb(197, 188, 165);
*/ 